@model NRDCL.Models.Order
@{
    ViewData["Title"] = "Order";
}
<div class="page_title">
    <span class="title">Order</span>
    <span class="subtitle">Order Details</span>
</div>
<form class="form-horizontal globalForm">
    <fieldset>
        <legend>Order Details</legend>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CustomerID)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.CustomerID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.CustomerName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.SiteName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.SiteName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.ProductName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.ProductName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Quantity)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.OrderAmount)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.OrderAmount)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Balance)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Balance)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <a asp-action="Edit" class="btn btn-info" asp-route-OrderID="@Model.OrderID">Edit</a>
            </div>
            <div class="col-md-2">
                <a asp-action="Index" class="btn btn-info" tabindex="8">Back to List</a>
            </div>
        </div>
    </fieldset>
</form>
