@model IEnumerable<NRDCL.Models.Order>

@{
    ViewData["Title"] = "Order";
}

<p>
    <a asp-action="Create">Make Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Site
            </th>
            <th>
               Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var order in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.OrderAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { orderId = order.OrderID }) |
                @Html.ActionLink("Details", "Details", new { orderId = order.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { orderId = order.OrderID })
            </td>
        </tr>
}
    </tbody>
</table>
