@model IEnumerable<NRDCL.Models.Site>

@{
    ViewData["Title"] = "Site";
}
<h3>Site Information</h3>
<p>
    <a asp-action="Create">Register Site</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CitizenshipID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFrom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var sites in Model) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => sites.CitizenshipID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sites.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sites.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => sites.DistanceFrom)
        </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { siteId = sites.SiteId }) |
                @Html.ActionLink("Details", "Details", new { siteId = sites.SiteId }) 
               @* @Html.ActionLink("Delete", "Delete", new { siteId = sites.SiteId })*@
            </td>
        </tr>
}
    </tbody>
</table>
