@model List<NRDCL.Models.Report.Report>
@{
    ViewData["Title"] = "Home Page";
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.ProductName).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.OrderQualtity).ToList());
    <link href="~/css/dashboard.css" rel="stylesheet" />
}
<div class="content-wrapper">
    <h6 class="p-1"><b>Dashboard</b></h6>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card text-black">
                <div class="card-body card-body-shadow d-flex align-content-md-center float-left">
                    <div class="icon-container-Green mr-3">
                        <img src="~/images/profit.png" alt="logo" />
                    </div>
                    <div class="widget-content-right">
                        <div class="'text-black mt-0">@ViewBag.TotalOrder</div>
                        <div class="widget-content-heading">
                            Total Order
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card text-black">
                <div class="card-body card-body-shadow d-flex align-content-md-center float-left">
                    <div class="icon-container-Green mr-3">
                        <img src="~/images/profit.png" alt="logo" />
                    </div>
                    <div class="widget-content-right">
                        <div class="'text-black mt-0" style="float:none">@ViewBag.TotalProduct</div>
                        <div class="widget-content-heading" style="float: none">
                            Total Product
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card text-black">
                <div class="card-body card-body-shadow d-flex align-content-md-center float-left">
                    <div class="icon-container-Green mr-3">
                        <img src="~/images/profit.png" alt="logo" />
                    </div>
                    <div class="widget-content-right">
                        <div class="'text-black mt-0" style="float:none">@ViewBag.TotalItem</div>
                        <div class="widget-content-heading" style="float:none">
                            Total Item
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="widget-content-left">
                            <h6 class="card-title">
                                <b>Product Order Chart</b>
                                <span class="text-muted mca-font">
                                    (Date :: 27-03-2021)
                                </span>
                            </h6>
                        </div>
                    </div>
                    <div class="chart">
                        <canvas id="productOrderChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="widget-content-left">
                            <h6 class="card-title">
                                <b>Product Order Chart</b>
                                <span class="text-muted mca-font">
                                    (Date :: 27-03-2021)
                                </span>
                            </h6>
                        </div>
                    </div>
                    <div id="chartContainer" class="chart">
                        <canvas id="productOrderChart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div id="barChartContainer" style="height: 370px; width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Chart.bundle.min.js"></script>
     <script src="~/js/canvasjs.min.js"></script>
    <script type="text/javascript">
        $(function () {
        var chartName = "productOrderChart";
            var ctx = document.getElementById(chartName).getContext('2d');
            var chartData = {
                labels: @Html.Raw(XLabels),
                datasets: [{
                    label: "Product Order Chart",
                    backgroundColor: ['#00B173', '#006667', '#AD1C00', '#7869ca',],
                    hoverBackgroundColor: ['#00B173', '#006667', '#AD1C00', '#7869ca',],
                    hoverBackgroundWidth: 10,
                    data:  @Html.Raw(YValues)}],
            };

            var chartOptions = {
                responsive: true,
                legend: { position: 'bottom' },
                pie: { size: '80%' }
            };

            var chartColors = [{
                backgroundColor: ['#00B173', '#006667', '#AD1C00', '#7869ca',],
                hoverBackgroundColor: ['#00B173', '#006667', '#AD1C00', '#7869ca',],
                hoverBackgroundWidth: 10,
            },
            {
                backgroundColor: ['#f2b33f'],
                hoverBackgroundColor: ['#ffffff']
            }
            ];

            var myChart = new Chart(ctx, {
                options: chartOptions,
                data: chartData,
                type: 'pie',
            });
        });

        $(function () {
            var chartName = "productOrderChart1";
            var ctx = document.getElementById(chartName).getContext('2d');
            var chartData = {
                labels: @Html.Raw(XLabels),
                datasets: [{
                    label: "Product Order Chart",
                    backgroundColor: ['#3040D6', '#00CFFF', '#AD1C00', '#7869ca',],
                    hoverBackgroundColor: ['#3040D6', '#00CFFF', '#AD1C00', '#7869ca',],
                    hoverBackgroundWidth: 10,
                    data:  @Html.Raw(YValues)}],
            };

            var chartOptions = {
                responsive: true,
                legend: { position: 'bottom' },
                pie: { size: '80%' }
            };

            var chartColors = [{
                backgroundColor: ['#00B1173', '#006667', '#AD1C00', '#7869ca',],
                hoverBackgroundColor: ['#00B173', '#006667', '#AD1C00', '#7869ca',],
                hoverBackgroundWidth: 10,
            },
            {
                backgroundColor: ['#f2b33f'],
                hoverBackgroundColor: ['#ffffff']
            }
            ];

            var myChart = new Chart(ctx, {
                options: chartOptions,
           data: chartData,
           type: 'pie',
            });
        });

         $(function () {
             var chart = new CanvasJS.Chart("barChartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "Total no of product ordered"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();
});
    </script>
}


