@model NRDCL.Models.Deposit
@{
    ViewData["Title"] = "Deposit";
}
<div class="page_title">
    <span class="title">Deposit</span>
    <span class="subtitle">Deposit Details</span>
</div>
<form class="form-horizontal globalForm">
    <fieldset>
        <legend>Deposit Details</legend>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CustomerID)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.CustomerID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.LastAmount)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.LastAmount)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Balance)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Balance)
            </div>
        </div>
        <div class="form-group">
           @* <div class="col-md-2">
                <a asp-action="Edit" class="btn btn-info" asp-route-CitizenshipID="@Model.CitizenshipID">Edit</a>
            </div>*@
            <div class="col-md-2">
                <a asp-action="Index" class="btn btn-info" tabindex="8">Back to List</a>
            </div>
        </div>
    </fieldset>
    </form>
