@model NRDCL.Models.Customer
@{
    ViewData["Title"] = "Create";
}
<div class="page_title">
    <span class="title">Customer</span>
    <span class="subtitle">Register Customer</span>
</div>
<form asp-action="Create" class="form-horizontal globalForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend>Enter Customer Information</legend>
        <div class="form-group">
            <label asp-for="CitizenshipID" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="CitizenshipID" class="form-control" tabindex="1" />
                <span asp-validation-for="CitizenshipID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerName" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="CustomerName" class="form-control" tabindex="2" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TelephoneNumber" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="TelephoneNumber" class="form-control" tabindex="3" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailId" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="EmailId" class="form-control" tabindex="4" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2">
            </div>
            <div class=" col-md-2">
                <input type="submit" value="Create" class="btn btn-primary btn-block" tabindex="5" />
            </div>
        </div>
    </fieldset>
    <fieldset class="v-no-padding">
        <legend>Customer list</legend>
        <div class="form-group">
            <div class="col-md-12">
                <table class="table table-bordered table-striped editable-grid">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CitizenshipID)</th>
                            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
                            <th>@Html.DisplayNameFor(model => model.TelephoneNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.EmailId)</th>
                            <th width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customers in ViewBag.Customers)
                        {
                            <tr>
                                <td>@customers.CitizenshipID</td>
                                <td>@customers.CustomerName</td>
                                <td>@customers.TelephoneNumber</td>
                                <td>@customers.EmailId</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { citizenshipID = @customers.CitizenshipID }) |
                                    @Html.ActionLink("Details", "Details", new { citizenshipID = @customers.CitizenshipID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>
@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @{
            if (ViewBag.Result != null)
            {
            <script type="text/javascript">
            $(function () {
                swal({
                        title: "Data saved successfully.",
                        text: "Click OK to exit",
                        type: "success"
                    }, function (e) {
                        window.location.href ='@Url.Action("Create", "Customer")';
                    });
            });
            </script>
            }
        }
    }


