@model NRDCL.Models.Customer
@{
    ViewData["Title"] = "Customer";
}
<div class="page_title">
    <span class="title">Customer</span>
    <span class="subtitle">Customer Details</span>
</div>
<form class="form-horizontal globalForm">
    <fieldset>
        <legend>Customer Details</legend>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CitizenshipID)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.CitizenshipID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.CustomerName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.TelephoneNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.EmailId)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.EmailId)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <a asp-action="Edit" class="btn btn-info" asp-route-CitizenshipID="@Model.CitizenshipID">Edit</a>
            </div>
            <div class="col-md-2">
                <a asp-action="Create" class="btn btn-info" tabindex="8">Back to List</a>
            </div>
        </div>
    </fieldset>
</form>
